LVQ_toolbox/tools/fminlbfgs.m
LVQ_toolbox/preprocessing/zscoreTransformation.m
LVQ_toolbox/preprocessing/nFoldCrossValidation.m
LVQ_toolbox/license-gpl2.txt
LVQ_toolbox/algorithms/LGMLVQ_costfun.m
LVQ_toolbox/algorithms/LGMLVQ_classify.m
LVQ_toolbox/algorithms/GRLVQ_train.m
LVQ_toolbox/algorithms/GRLVQ_classify.m
LVQ_toolbox/algorithms/GMLVQ_train.m
LVQ_toolbox/algorithms/GMLVQ_project.m
LVQ_toolbox/algorithms/GMLVQ_optfun.m
LVQ_toolbox/tools/sumsquared.m
LVQ_toolbox/tools/squaredEuclidean.m
LVQ_toolbox/tools/my_voronoi2.m
LVQ_toolbox/demo.m
LVQ_toolbox/data/test.m
LVQ_toolbox/algorithms/LVQ_progresser.m
LVQ_toolbox/algorithms/LVQ.m
LVQ_toolbox/algorithms/LGMLVQ_train.m
LVQ_toolbox/algorithms/GMLVQ_costfun.m
LVQ_toolbox/algorithms/GMLVQ_classify.m
LVQ_toolbox/algorithms/GLVQ_costfun.m
LVQ_toolbox/BSD_license.txt
LVQ_toolbox/data/generate_data.m
LVQ_toolbox/data/circle_ordinal.mat
LVQ_toolbox/data/Iris.csv
LVQ_toolbox/algorithms/computeDistance.m
LVQ_toolbox/algorithms/GRLVQ_costfun.m
LVQ_toolbox/data/segment.dat
LVQ_toolbox/data/generate_data_arti.m
LVQ_toolbox/algorithms/LGMLVQ_optfun.m
